biopandas==0.3.0.dev0
matplotlib==3.5.1
notebook>=6.4.10
numpy==1.22.2
pandas==1.4.1
progressbar2==4.0.0
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
streamlit==1.6.0
xgboost==1.5.2
pdb2pqr==3.5.2

