biopandas==0.4.1
matplotlib==3.6.2
jupyterlab==4.0.0a31
numpy==1.24.0rc2
pandas==1.5.2
progressbar2==4.3b0
scikit-learn==1.2.0
scipy==1.10.0rc1
seaborn==0.12.1
streamlit==1.16.0
xgboost==1.7.2
pdb2pqr==3.5.2

